dist: xenial
language: node_js
node_js: [ 10, 12, "node", "lts/*" ]
env:
  - NODE_ENV=travis_ci

before_install: npm i -g npm@latest

install: travis_retry npm install

script:
  - if [ $TRAVIS_EVENT_TYPE == 'cron' ];
    then npm run integration-test;
    else npm run coverage;
    fi;

after_success: 
  - if [ $TRAVIS_EVENT_TYPE != 'cron' ];
    then npm run report-coverage; 
    fi;
